.errors {
  list-style-type: none;
    font-size: 14px;
    position: absolute;
    right: calc(100% + 20px);
    width: 100%;
    top: 0;
    background: red;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 3px;
}

.errors::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: red;
  border-radius: 50%;
}

.error {
  position: relative;
}
