.form {
  border: 1px solid #dcdcdc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  border-radius: 2px;
}

.input {
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #dcdcdc;
}

.button {
  padding: 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.control {
  margin-bottom: 15px;
  position: relative;
}

.errors {
  list-style: none;
}

.error {
  color: red;
}